!data/rmq0/.gitkeep
!data/rmq1/.gitkeep
!data/rmq2/.gitkeep
tmp/
!log/rmq0/.gitkeep
!log/rmq1/.gitkeep
!log/rmq2/.gitkeep

target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
